@use "../var";
@use "../mixin";

.main-content{
    min-width: 15rem;
    // @include mixin.main-appearance(var.$content-background);
    border-right: solid 1px var.$light-grey;

    &__title{
        @include mixin.big-title;
    }

    &__bigname {
        font-size: 3rem;
        position: absolute;
        left: -8.9rem;
        top: 11.5rem;
        /* writing-mode: vertical-lr; */
        opacity: 0.1;
        transform: rotate(270deg);
        @include mixin.tablet{
            transform: none;
            position: static;
        }
        @include mixin.phone{
            transform: none;
            position: static;
        }
    }

    &__see-more {
        padding: 1rem;
        text-align: center;
        &--button{
            position: relative;
            color: var.$main-blue;
            font-size: 1.7rem;
            font-weight: 700;
            padding: 0.5rem;
            border: 1px solid black;
            border-radius: 5px;
            width: 100%;
            height: 8rem;
            display: flex;
            align-items: center;
            margin: auto;
            text-align: left;
            overflow: hidden;
            @include mixin.phone{
                height: 4rem;
            }
            @include mixin.main{
                &:hover{
                    text-decoration: none;
                    span{
                        left: 3em;
                        transform: scale(1.5);
                        transition: all 0.2s ease-out;
                    }
                    img{
                        transition: all 0.4s ease-out;
                        max-width: 8em;
                        right: -0.7em;
                        top: -3.6em;
                        opacity: 1;
                    }
                }
            }
            
            span{
                position: relative;
                z-index: 1;
                left: 0em;
                transition: all 0.2s ease-in;
            }
            img{
                transition: all 0.2s ease-in;
                max-width: 6em;
                user-select: none;
                position: absolute;
                z-index: 0;
                right: 7em;
                top: -0.6em;
                opacity: 0;
                @include mixin.phone{
                    opacity: 1;
                    top: -6rem;
                    right: 0;
                }
            }
        }
    }
}
