@use "../var";
@use "../mixin";

.navigation{
    position: absolute;
    right: 2rem;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #e6e6e6;
    height: 2rem;
    padding: 0 0.5rem;
    z-index: 5;
    border: solid 1px black;
    border-bottom: none;
    @include mixin.tablet{
        right: 0;
        gap: 0.5rem;
    }
    @include mixin.phone{
        position: fixed;
        right: 0;
        width: 100%;
        gap: 0rem;
        padding: 0;
        height: var.$mobile-nav-height;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    a{
        color: white;
        padding: 0.2rem 1rem;
        // background: #359bde;
        border-radius: 5px 5px 0 0;
        height: 100%;
        position: relative;
        line-height: 1.4rem;
        @include mixin.phone{
            border-radius: 0;
        }
    }
    &__notification{
        width: 2.5rem;
        height: 100%;
        background-color: #020202;
        font-size: 1em;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        /* border: solid 1px red; */
        margin: -1rem 0;
        position: relative;
        right: 0.3rem;
        box-shadow: inset 0 1px #7eccffa6;
        @include mixin.phone{
            position: absolute;
            height: auto;
            top: 1.1rem;
            left: 0.2rem;
            width: 1.5rem;
            border-radius: 4px;
        }
        }

    &__account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.2rem;
        min-width: 10em;
        &--name{
            width: 100%;
            padding: 0 0.5rem;
        }
        &--pic{
            height: 2rem;
        }
    }
    &__icon{
        display: inline-block;
        width: auto;
        height: 100%;
        line-height: normal;
        vertical-align: middle;
        margin-right: 0.5rem;
        margin-left: -0.6rem;
        @include mixin.phone{
            display: block;
            margin-right: 0;
            margin-left: 0;
            height: 2.12rem;
        }
        &--image{
            height: 100%;
            vertical-align: baseline;
            
        }
    }
    &__name {
        @include mixin.phone{
            font-size: 0.8rem;
        }
    }
}