@use "../var";
@use "../mixin";

.new-post{
    padding: var.$default-padding;
    border-bottom: solid 1px var.$light-grey;
    background: var.$content-background;
    label{
        display: block;
        @include mixin.big-title;
    }
    &__form{
        display: flex;
        gap: var.$default-padding;
    }

    &__imagearea{
        width: 15rem;
        background: #c4c4c4;
        height: 10rem;
        border: dashed 3px grey;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 3rem;
            opacity: 0.4;
            user-select: none;
            -webkit-user-drag: none;
        }
    }
    &__textarea {
        width: 100%;
        border: solid 1px black;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        textarea{
            width: 95%;
            height: 6rem;
            margin: auto;
            resize: none;
        }
        &--footer{
            padding: 0.5rem;
            background: var.$content-background-2;
            text-align: end;
        }
    }
}