@use "../var";
@use "../mixin";

.post{
    max-width: 100%;
    margin: 0.5em;
    border: solid 1px black;
    border-radius: 3px;
    overflow: hidden;
    background: var.$content-background;

    &__profile{
        margin: var.$default-padding;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        background: var.$content-background-2;
        &--name{
            width: 100%;
            padding: 0.4em;
            vertical-align: middle;
            display: inline;
        }
        &--date {
            display: inline;
            font-size: 0.7em;
        }
    }

    &__buttons{
        display: flex;
        gap: 0.5em;
        padding-right: var.$default-padding;
    }

    &__button{
        padding: 0.2rem;
        border: solid 1px transparent;
        border-radius: 3px;
        width: 2.2em;
        height: 2.2em;
        &:hover{
            border: solid 1px var.$light-grey;
            background-color: var.$content-background-2-hover;
            box-shadow: 0 1px white;
            
        }
        &:active{
            border: solid 1px var.$light-grey;
            padding: 0.3rem 0.2rem 0.1rem 0.2rem; 
            background-color: var.$content-background-3;
            box-shadow: 0 1px white, inset 0 1px rgba(0, 0, 0, 0.432);

        }
    }

    &__content{
        padding: var.$default-padding;
        line-height: 1.2em;
    }

    &__image-container {
        min-width: 10%;
        flex: 1 1 10em;
        max-height: 22em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 0.3em;
    }

    &__images {
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        // grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(64px, 100% / 3)), 1fr));
        img{
            // max-height: 22em;
            // height: 100%;
            max-width: none;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }

    &__tags{
        padding: 0.5em;
        span{
            padding: 0.2em 0.6em;
            background-color: rgb(194 50 74);
            border-radius: 6px;
            margin: 0 0.1em;
            color: white;
            font-weight: 700;
            display: inline-block;
        }
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        padding: var.$default-padding;
        background: var.$content-background-2;
        .bold{
            color: var.$main-blue;
        }
        &--stats>span{
            margin-right: 1em;
        }
    }

}