@use "../var";
@use "../mixin";

#user{
    @include mixin.phone{
        position: fixed;
        top: 0.4rem;
        z-index: 3;
        right: 0.7rem;
        margin-bottom: 0;
    }
}

.side{
    padding: var.$default-padding;
    min-width: 15rem;
    margin: 0 0.5em;
    // @include mixin.main-appearance(var.$content-background);
    &__title {
        font-size: 1.4rem;
    }
    &__current{
        margin: 0.3rem;
        color: var.$main-blue;
        font-weight: 700;
    }

    &__current-container{
        font-size: 1.7rem;
    }

    &__more{
        font-size: 1.5rem;
    }

    &__container {
        margin-bottom: 2rem;
    }

    &__soarer{
        background: var.$content-background-2;
        border: solid 1px var.$light-grey;
        margin: 0.3rem 0;
        gap: 0.2rem;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 3rem 4.5rem auto;
        grid-template-areas: 
        "img profile profile"
        "img follow ."
        ;
        padding: 0.3rem;
        @include mixin.phone{
            gap: 0;
            grid-gap: 0.5rem;
            grid-template-columns: auto 1fr 1fr 7rem;
            grid-template-areas: "img profile profile follow ";
            padding: 0.3rem;
            align-items: center;
        }
        img{
            max-width: 3rem;
            grid-area: img;
        }
        p{
            grid-area: profile;
        }
    }
    &__follow{
        grid-area: follow;
        @include mixin.phone{
            height: 86%;
            line-height: 2rem;
        }
        &:hover{
            text-decoration: none !important;
        }
    }
    &__user{
        background: var.$content-background-2;
        border-radius: 5px;
        overflow: hidden;
        border: solid 1px var.$light-grey;
        @include mixin.phone{
            background: none;
            overflow: visible;
            border: none;
        }
        &--profile{
            height: 7rem;
            position: relative;
            img{
                max-height: 4rem;
                vertical-align: middle;
                position: absolute;
                left: 0.5rem;
                bottom: 0;
                box-shadow: 0 0 3px 1px #020202a1;
                @include mixin.phone{
                    position: static;
                    max-height: 
                    2.5rem;
                }
            }
            p{
                display: inline;
                vertical-align: middle;
                position: absolute;
                left: 5rem;
                bottom: 1rem;
                @include mixin.phone{
                    position: static;
                }
            }
            @include mixin.phone{
                height: auto;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 0.6rem;
            }
        }
        &--stats{
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            @include mixin.phone{
                display: none;
            }
            p{
                display: inline-block;
            }
            span{
                color: var.$main-blue;
            }
        }
        &--banner{
            width: 100%;
            height: 4rem;
            background-size: cover;
            background-position: 0px -13px;
            background-image: url(/img/banner.webp);
            @include mixin.phone{
                display: none;
            }
        }
    }
}
