@use "var";
@use "mixin";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    font-size: 13px;
}

*{
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

body{
    margin: 0;
    background-color: var.$main-background;
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;

}

a{
    font-weight: 500;
    text-decoration: none;
    color: var.$link-grey;
    &:hover{
        text-decoration: underline;
    }
}

.container {
    max-width: var.$display-width;
    margin: auto;
    position: relative;
    display: flex;
    @include mixin.main-appearance(var.$content-background)
}


.header, .footer{
    padding: 0.8rem;
}

.profile-pic{
    max-width: 3em;
}

.footer{
    width: 100%;
    background:  var.$content-background;
    margin-top: 2rem;
    text-align: center;
}

.bold{
    font-weight: 700;
}

.account-name{
    font-weight: 700;
    font-size: 1.1em;
}