$main-background:#848484;
$content-background:#ffffff;
$content-background-2:#e6e6e6;
$content-background-2-hover:#e9e9e9;
$content-background-3:#cfcfcf;
$light-grey:#b5b5b5;
$main-blue:#359bde;
$link-grey: grey;
$link-grey-hover: #afafaf;

$display-width:60rem;
$default-padding: 0.8rem;